name: Publish image to Docker Hub

on:
  [workflow_dispatch]

jobs:
  publish_image:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: build
        run: |
          docker build . -t docker_username/docker_name:latest
      - name: publish
        run: |
          docker login -u docker_username -p ${{ secrets.DOCKERHUB_TOKEN}}
          docker push docker_username/docker_name:latest
